{% extends "base.html" %}

{% block content %}

    <h1>Signup</h1>
    <form action="/signup", id="form", method="POST">
        <label for="name">Name: </label>
        <input type="text" name='name' id="name" value='{{name}}' />
        <p class="error">{{nameError}}</p>
        
        <label for="password">Password: </label>
        <input type="password" name='password' id="password" value='{{password}}' />
        <p class="error">{{passwordError}}</p>        

        <label for="verify_password">Verify Password: </label>
        <input type="password" name='verify_password' id="verify_password" value='{{verify_password}}' />
        <p class="error">{{verify_passwordError}}</p>

        <label for="email">Email (optional): </label>
        <input type="text" name='email' id="email" value='{{email}}' />
        <p class="error">{{emailError}}</p>
        <button type="submit">Signup</button>
    </form>

{% endblock %}